*{
    padding:0;
    margin:0;
}

body{
    background-color:#ced4da;
}

.navigation-container{
    background-color:#1b4332;
    width:100vw;
    display:grid;
    grid-template-columns:1fr 2fr 1fr 1fr;
    font-family:'Actor',sans-serif;
    height:60px;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position:fixed;
    top:0;
    z-index:100;
}

.logo-container{
    font-size:26px;
    padding:10px 0px 10px 10px;
    color:#fff;
    font-weight:900px;
}


.nav-container ul{
    display:flex;
    justify-content:space-around;
    margin-top:20px;
}

.nav-container ul li{
    list-style:none;
    padding:0px 0px;
}

.nav-container ul li:hover{
    border-bottom:1px solid white;
}

.nav-container ul li a{
    color:white;
    text-decoration:none;

}

.cart-container{
    display:flex;
    align-items:flex-start;
}

.cart-container > button{
    padding:10px;
    margin:20px;
    height:35px;
}

.user-container{
    display:flex;
    padding:10px;
    justify-content:space-around;
}

.user-container > button{
    height:40px;
}

.user-container > ul{
    display:grid;
}

.slide-container{
    margin-top:100px;
}

.gallery-show{
    display:flex;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height:400px;
    width:800px;
    margin:30px;
    justify-content:space-between;
    align-items:center;
    background-color:#fff;
}

.gallery-text{
    display:grid;
    justify-content:space-around;
    align-content:space-around;
    height:300px;
    width:600px;
    font-family:'Poppins',sans-serif;
}

.gallery-text h1{
    font-size:42px;
    color:#1b4332;
}

.gallery-text h3{
    font-weight:500;
    color:#1b4332;
}

.see-more{
    width:120px;
    height:40px;
    background-color:#1b4332;
    border:none;
    color:white;
}

.see-more:hover{
    color:#1b4332;
    background-color:transparent;
    border:1px solid #1b4332;
    transition:.3s ease-in-out;
}

.left-button, .right-button{
    height:40px;
    width:60px;
    color:#1b4332;
    background-color:transparent;
    border:none;
    border-radius:8px;
}    

.gallery-image{
    width:400px;
    font-size:28px;
}

.home-container{
    display:grid;
    justify-content:space-between;
    grid-template-columns:6fr 2fr;
    /* background-color:#fff; */
    margin-top:100px;
}

.home-display-container{
    height:570px;
    max-width:950px;
    display:grid;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.display-heading{
    
}

.text-container{
    display:flex;
    justify-content:space-around;
    font-size:16px;
    background-color:#1b4332;
    color:#fff;
    font-family:'Poppins';
    height:50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.image-container{
    display:flex;
    justify-content:space-between;
}

.display-image{
    width:440px;
    background-color:#fff;
    height:500px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}    

.description{
    display:grid;
    justify-content:space-around;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color:#fff;
    height:500px;
    font-family:'Actor', sans-serif;
}

hr{
    height:1px;
}

.description h1{
    font-size:28px;
    color:#1b4332;
}

.description h2{
    color:#747373;
}

.description p{
    font-family:'Poppins';
    font-weight:300;
    font-size:18px;
}

.price-container{
    display:flex;
    font-family:'Poppins';
}

.price-container h2{
    color:#747373;
}

.list-container{
    display:grid;
    grid-template-columns:repeat(3,100px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width:330px;
}

.cart-checkout-container{
    display:grid;
    align-content:space-around;
}    

.about-section-container{
    display:grid;
    grid-template-columns:4fr 1fr;
    height:250px;
    width:940px;
    border:1px solid red;
}    

.shopping-container{
    display:flex;
    justify-content:space-between;
}    

.about-container{
}    


.product-image{
    width:100px;
    height:100px;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}    

.product-heading{
    font-size:26px;
    font-family:'Actor',sans-serif;
    color:#d9d9d9;
    line-height:50px;
}    

.product-paragraph{
    color:#d9d9d9;
    font-family:'Actor',sans-serif;
    font-weight:400;
}    

.shopping-text-container{
    display:grid;
    width:400px;
    align-content:space-around;
}    



.display-paragraph{
    width:500px;
    font-family:'Poppins';
    font-family:'Actor',sans-serif;
    font-size:20px;
    font-weight:600;
}    